.image-56-icon {
  position: absolute;
  top: 53px;
  left: 887px;
  width: 407px;
  height: 195px;
  object-fit: cover;
}
.thng-tin-lin {
  position: relative;
  font-weight: 500;
}
.location-on-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.location-on-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  text-align: justify;
}
.daihocsaigonsgueduvn {
  color: inherit;
}
.email-daihocsaigonsgueduvn {
  flex: 1;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 150%;
}
.email-parent {
  color: inherit;
}
.email-parent,
.language-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.frame-parent,
.thng-tin-lin-h-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent {
  align-self: stretch;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}
.thng-tin-lin-h-parent {
  position: absolute;
  top: 62px;
  left: 101px;
  width: 682px;
  height: 172px;
  align-items: flex-start;
  gap: 16px;
}
.foodter {
  position: absolute;
  top: 1136px;
  left: 0;
  background-color: #083751;
  width: 1440px;
  height: 295px;
  overflow: hidden;
}
.frame-wrapper,
.trng-i-hc,
.trng-i-hc1 {
  position: absolute;
  display: flex;
  align-items: center;
}
.frame-wrapper {
  right: 0;
  bottom: 43px;
  flex-direction: row;
  justify-content: center;
}
.trng-i-hc,
.trng-i-hc1 {
  top: 29px;
  left: 10px;
  letter-spacing: 0.01em;
  line-height: 158%;
  width: 400px;
  height: 31px;
}
.trng-i-hc1 {
  top: 57px;
  left: 13px;
  font-size: 17px;
  height: 24px;
}
.frame-group,
.trng-i-hc-si-gn-parent {
  position: absolute;
  top: 27px;
  left: 125px;
  width: 452px;
  height: 81px;
  overflow: hidden;
}
.frame-group {
  top: 0;
  left: 129px;
  width: 1139px;
  height: 148px;
}
.image-55-icon {
  position: absolute;
  top: 6px;
  left: 8px;
  width: 130px;
  height: 130px;
  object-fit: cover;
}
.header,
.image-55-wrapper {
  position: absolute;
  top: 12px;
  left: 116px;
  width: 1180px;
  height: 136px;
  overflow: hidden;
}
.header {
  top: 0;
  left: 0;
  background-color: #083751;
  width: 1440px;
  height: 160px;
  font-size: 23px;
  font-family: Poppins;
}
.frame-child {
  position: relative;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.admin-minh-thc {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 150%;
  font-weight: 600;
}
.admin-minh-thc-wrapper {
  width: 137px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.rectangle-parent {
  align-self: stretch;
  background-color: #083751;
  border-bottom: 0.5px solid #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  gap: 8px;
  font-family: Inter;
}
.danh-sch-ng {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.danh-sch-ng-vin-wrapper {
  flex: 1;
  align-items: center;
}
.danh-sch-ng-vin-wrapper,
.frame-div,
.instance-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-div {
  flex: 1;
  background-color: #083751;
  align-items: center;
  padding: 12px 16px;
  gap: 12px;
}
.instance-wrapper {
  align-self: stretch;
  align-items: flex-start;
  font-size: 16px;
}
.danh-sch-ng1 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.expand-more-icon1 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.frame-parent1 {
  flex: 1;
  background-color: #083751;
  align-items: center;
  padding: 12px 16px 12px 32px;
  gap: 12px;
}
.frame-parent1,
.frame-parent8,
.frame-parent9,
.instance-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.instance-container {
  align-self: stretch;
  align-items: flex-start;
}
.frame-parent8,
.frame-parent9 {
  align-items: center;
  padding: 12px 16px 12px 32px;
  gap: 12px;
}
.frame-parent8 {
  background-color: #083751;
  width: 269px;
  height: 45px;
  box-sizing: border-box;
}
.frame-parent9 {
  flex: 1;
  background-color: rgba(185, 185, 185, 0.2);
}
.frame-container,
.frame-inner,
.instance-wrapper6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.instance-wrapper6 {
  align-self: stretch;
  background-color: #083751;
  flex-direction: row;
}
.frame-container,
.frame-inner {
  flex-direction: column;
}
.frame-container {
  width: 269px;
  height: 614px;
}
.frame-inner {
  position: absolute;
  top: 176px;
  left: 0;
  background-color: #083751;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 944px;
  font-size: 14px;
}
.lu-thay-i {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 158%;
}
.button-muangay {
  border-radius: 8px;
  background-color: #083751;
  width: 232px;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button-muangay-wrapper {
  position: absolute;
  top: 510px;
  left: 457px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 60px 0;
}
.tiu {
  position: absolute;
  top: 6px;
  left: 0;
  letter-spacing: 0.05em;
  line-height: 158%;
  font-weight: 500;
}
.tiu-wrapper {
  position: relative;
  width: 122px;
  height: 34px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-item {
  position: absolute;
  width: 100%;
  top: calc(50% - 10px);
  right: 0;
  left: 0;
}
.frame-child1,
.trng-mi {
  position: absolute;
  top: 14px;
  left: 0;
}
.trng-mi {
  left: 16px;
  letter-spacing: 0.02em;
  line-height: 140%;
}
.frame-parent13 {
  position: relative;
  border-radius: 8px;
  background-color: #ededf2;
  width: 913px;
  height: 48px;
  color: #666;
}
.frame-parent12 {
  width: 1063px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 28px;
}
.icround-navigate-next-wrapper,
.vui-lng-nhp-phngx-wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.vui-lng-nhp-phngx-wrapper {
  top: 0;
  left: 0;
  padding: 6px 8px;
}
.icround-navigate-next-wrapper {
  top: 5px;
  right: 0;
  padding: 0 4px 0 0;
}
.frame-parent16,
.vector-icon {
  align-self: stretch;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent16 {
  border-radius: 8px;
  background-color: #ededf2;
  height: 34px;
}
.vector-icon {
  max-width: 100%;
  height: 184px;
}
.vector-wrapper {
  position: absolute;
  width: 100%;
  top: 42px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 8px;
  box-sizing: border-box;
}
.gi-thp-n {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 158%;
}
.frame-wrapper1,
.frame-wrapper2,
.gi-thp-n-cao-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px 8px;
}
.frame-wrapper1,
.frame-wrapper2 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px 8px;
}
.frame-wrapper2 {
  top: 42px;
}
.frame-parent17 {
  position: relative;
  border-radius: 8px;
  background-color: #fff;
  width: 200px;
  height: 84px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  font-size: 14px;
  color: #000;
  font-family: Poppins;
}
.frame-parent14,
.frame-parent15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent15 {
  width: 913px;
  flex-direction: column;
  gap: 4px;
  font-size: 16px;
  color: #241f1f;
  font-family: Roboto;
}
.frame-parent14 {
  background-color: #fff;
  width: 600px;
  height: 34px;
  flex-direction: row;
  gap: 28px;
}
.vui-lng-nhp1 {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 158%;
}
.frame-parent21 {
  position: relative;
  border-radius: 8px;
  background-color: #fff;
  width: 200px;
  height: 84px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  color: #000;
}
.frame-parent19 {
  width: 913px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
  color: #999;
}
.frame-parent22,
.frame-parent30,
.icround-navigate-next-frame {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icround-navigate-next-frame {
  position: absolute;
  top: 5px;
  right: 0;
  display: none;
  padding: 0 4px 0 0;
}
.frame-parent22,
.frame-parent30 {
  background-color: #fff;
  width: 1063px;
  height: 34px;
  display: flex;
  gap: 28px;
}
.frame-parent30 {
  height: 46px;
}
.frame-parent11,
.group-div {
  position: absolute;
  width: 1063px;
  height: 323px;
}
.frame-parent11 {
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.group-div {
  top: 14px;
  left: 24px;
  text-align: left;
  font-size: 14px;
  color: #000;
}
.instance-parent {
  position: absolute;
  top: 104px;
  left: 0;
  background-color: #fff;
  width: 1087px;
  height: 637px;
}
.thm-trng {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 158%;
  text-transform: uppercase;
  font-weight: 500;
}
.thm-trng-wrapper {
  position: absolute;
  top: 17px;
  left: 19px;
  height: 59px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 32px 0 0;
  box-sizing: border-box;
  text-align: left;
  color: #083751;
}
.frame-parent10 {
  position: absolute;
  top: 176px;
  left: 295px;
  background-color: #fff;
  width: 1122px;
  height: 944px;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
  font-family: Poppins;
}
.frame {
  position: relative;
  background-color: #f5f5fa;
  width: 100%;
  height: 1431px;
  mix-blend-mode: normal;
  text-align: left;
  font-size: 20px;
  color: #fff;
  font-family: Roboto;
}
