.image-56-icon {
  position: absolute;
  top: 53px;
  left: 887px;
  width: 407px;
  height: 195px;
  object-fit: cover;
}
.thng-tin-lin {
  position: relative;
  font-weight: 500;
}
.location-on-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.location-on-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  text-align: justify;
}
.daihocsaigonsgueduvn {
  color: inherit;
}
.email-daihocsaigonsgueduvn {
  flex: 1;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 150%;
}
.email-parent {
  color: inherit;
}
.email-parent,
.language-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.frame-parent,
.thng-tin-lin-h-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent {
  align-self: stretch;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}
.thng-tin-lin-h-parent {
  position: absolute;
  top: 62px;
  left: 101px;
  width: 682px;
  height: 172px;
  align-items: flex-start;
  gap: 16px;
}
.foodter {
  position: absolute;
  top: 3401px;
  left: 0;
  background-color: #083751;
  width: 1440px;
  height: 295px;
  overflow: hidden;
  font-size: 20px;
}
.frame-wrapper,
.trng-i-hc,
.trng-i-hc1 {
  position: absolute;
  display: flex;
  align-items: center;
}
.frame-wrapper {
  right: 0;
  bottom: 43px;
  flex-direction: row;
  justify-content: center;
}
.trng-i-hc,
.trng-i-hc1 {
  top: 29px;
  left: 10px;
  letter-spacing: 0.01em;
  line-height: 158%;
  width: 400px;
  height: 31px;
}
.trng-i-hc1 {
  top: 57px;
  left: 13px;
  font-size: 17px;
  height: 24px;
}
.frame-group,
.trng-i-hc-si-gn-parent {
  position: absolute;
  top: 27px;
  left: 125px;
  width: 452px;
  height: 81px;
  overflow: hidden;
}
.frame-group {
  top: 0;
  left: 129px;
  width: 1139px;
  height: 148px;
}
.image-55-icon {
  position: absolute;
  top: 6px;
  left: 8px;
  width: 130px;
  height: 130px;
  object-fit: cover;
}
.header,
.image-55-wrapper {
  position: absolute;
  top: 12px;
  left: 116px;
  width: 1180px;
  height: 136px;
  overflow: hidden;
}
.header {
  top: 0;
  left: 0;
  background-color: #083751;
  width: 1440px;
  height: 160px;
  font-size: 23px;
  font-family: Poppins;
}
.frame-child {
  position: relative;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.admin-minh-thc {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 150%;
  font-weight: 600;
}
.admin-minh-thc-wrapper {
  width: 137px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.rectangle-parent {
  align-self: stretch;
  background-color: #083751;
  border-bottom: 0.5px solid #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  gap: 8px;
  font-size: 14px;
  font-family: Inter;
}
.danh-sch-ng {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.danh-sch-ng-vin-wrapper {
  flex: 1;
  align-items: center;
}
.danh-sch-ng-vin-wrapper,
.frame-div,
.instance-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-div {
  flex: 1;
  background-color: #083751;
  align-items: center;
  padding: 12px 16px;
  gap: 12px;
}
.instance-wrapper {
  align-self: stretch;
  align-items: flex-start;
}
.danh-sch-ng2 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.expand-more-icon2 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.frame-parent2,
.frame-parent6,
.instance-frame {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent2 {
  flex: 1;
  background-color: rgba(185, 185, 185, 0.2);
  align-items: center;
  padding: 12px 16px 12px 32px;
  gap: 12px;
}
.frame-parent6,
.instance-frame {
  font-size: 14px;
}
.instance-frame {
  align-self: stretch;
  align-items: flex-start;
}
.frame-parent6 {
  width: 269px;
  height: 43px;
  align-items: center;
  padding: 12px 16px 12px 32px;
  box-sizing: border-box;
  gap: 12px;
}
.frame-container,
.trang-nh-gi-im-rn-luyn-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-container {
  width: 269px;
  height: 543px;
}
.trang-nh-gi-im-rn-luyn-inner {
  position: absolute;
  top: 176px;
  left: 0;
  background-color: #083751;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 3225px;
}
.frame-wrapper2,
.thm-trng-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.thm-trng-wrapper {
  border-radius: 4px;
  background-color: #083751;
  border: 1px solid #083751;
  box-sizing: border-box;
  height: 32px;
  justify-content: center;
  padding: 8px 16px;
}
.frame-wrapper2 {
  justify-content: flex-start;
}
.tm-theo-tn {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 130px;
  flex-shrink: 0;
}
.tm-theo-tn-parent {
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  gap: 8px;
}
.tm-kim-theo {
  position: relative;
  line-height: 150%;
  display: inline-block;
  width: 144px;
  flex-shrink: 0;
}
.tm-kim-theo-tn-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px;
}
.search-icon {
  position: relative;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.search-wrapper {
  border-radius: 2px;
  background-color: #083751;
  width: 56px;
  flex-direction: row;
  justify-content: center;
}
.frame-parent10,
.search-wrapper,
.tng-3 {
  display: flex;
  align-items: center;
}
.frame-parent10 {
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #083751;
  box-sizing: border-box;
  width: 252px;
  height: 32px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 4px;
  gap: 24px;
  font-size: 14px;
  color: #a6a6b0;
}
.tng-3 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 150%;
  color: #000;
  text-align: right;
  width: 306px;
  flex-shrink: 0;
}
.frame-parent9 {
  align-items: flex-start;
  gap: 8px;
  color: #241f1f;
}
.frame-parent8,
.frame-parent9,
.frame-wrapper1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent8 {
  flex: 1;
  align-items: center;
  gap: 32px;
}
.frame-wrapper1 {
  position: absolute;
  top: 22px;
  left: 12px;
  width: 1110px;
  align-items: flex-start;
  text-align: left;
  color: #fff;
}
.frame-item {
  position: absolute;
  top: 53px;
  left: 21px;
}
.im-ti-a,
.tiu,
.trng-thi {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 150%;
  display: inline-block;
  flex-shrink: 0;
}
.tiu {
  text-align: left;
  width: 794px;
}
.im-ti-a,
.trng-thi {
  width: 118px;
}
.trng-thi {
  width: 189px;
}
.tiu-parent {
  width: 1120px;
  height: 63px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 8px 12px;
  box-sizing: border-box;
}
.nn-kinh-t {
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.chnh-sa {
  position: relative;
  line-height: 150%;
}
.frame-inner {
  align-self: stretch;
  position: relative;
  border-right: 1px solid #000;
  box-sizing: border-box;
  width: 1px;
}
.thng-rc {
  position: relative;
  line-height: 150%;
  color: #d13618;
}
.chnh-sa-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.frame-child1 {
  align-self: stretch;
  position: relative;
  border-right: 1px solid #000;
  box-sizing: border-box;
  width: 1px;
  display: none;
}
.xem-th-parent {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.frame-parent15,
.nn-kinh-t-kch-thch-xu-hn-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent15 {
  justify-content: flex-start;
  gap: 4px;
  font-size: 14px;
  color: #000;
}
.nn-kinh-t-kch-thch-xu-hn-parent {
  justify-content: center;
  gap: 8px;
}
.instance-wrapper4,
.instance-wrapper5 {
  width: 710px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.instance-wrapper4 {
  width: 808px;
  height: 59px;
  flex-direction: row;
  text-align: left;
  color: #241f1f;
}
.ang-hot-ng,
.div {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 150%;
  display: inline-block;
  width: 107px;
  flex-shrink: 0;
}
.ang-hot-ng {
  width: 179px;
}
.frame-parent14 {
  background-color: #f5f5fa;
  width: 1120px;
  height: 67px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 12px;
  box-sizing: border-box;
}
.nn-kinh-t1 {
  align-self: stretch;
  position: relative;
}
.instance-wrapper6,
.instance-wrapper7 {
  width: 773px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.instance-wrapper6 {
  height: 59px;
  flex-direction: row;
  justify-content: flex-end;
  color: #241f1f;
}
.ang-hot-ng1,
.div1 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 150%;
  display: inline-block;
  width: 93px;
  flex-shrink: 0;
}
.ang-hot-ng1 {
  width: 149px;
}
.frame-parent16 {
  width: 1120px;
  height: 67px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 8px 12px;
  box-sizing: border-box;
  text-align: left;
}
.sa-nhanh2 {
  position: relative;
  line-height: 150%;
  display: none;
}
.instance-wrapper8 {
  width: 809px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: left;
  color: #241f1f;
}
.frame-parent12,
.frame-parent13 {
  width: 1120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent13 {
  height: 3090px;
  align-items: flex-end;
}
.frame-parent12 {
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
}
.frame-parent11,
.line-icon {
  position: absolute;
  top: 1537px;
  left: 0;
  width: 1121.5px;
  height: 1074px;
}
.frame-parent11 {
  top: 70px;
  border-radius: 5px;
  background-color: #fff;
  width: 1154px;
  height: 3153px;
  overflow: hidden;
}
.frame-wrapper3 {
  position: absolute;
  top: 22px;
  left: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  color: #fff;
}
.frame-parent322,
.instance-wrapper314 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame-parent322 {
  position: absolute;
  top: 133px;
  left: 0;
  background-color: #f5f5fa;
  width: 1120px;
  height: 67px;
  justify-content: flex-start;
  padding: 8px 12px;
  box-sizing: border-box;
}
.instance-wrapper314 {
  width: 802px;
  height: 59px;
  justify-content: flex-end;
  color: #241f1f;
}
.frame-parent324 {
  top: 200px;
  justify-content: flex-end;
  text-align: left;
}
.frame-parent324,
.frame-parent326,
.frame-parent328 {
  position: absolute;
  left: 0;
  width: 1120px;
  height: 67px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 12px;
  box-sizing: border-box;
}
.frame-parent326 {
  top: 267px;
  background-color: #f5f5fa;
  justify-content: flex-start;
}
.frame-parent328 {
  top: 334px;
}
.frame-parent328,
.frame-parent330,
.frame-parent332 {
  background-color: #f5f5fa;
  justify-content: flex-start;
}
.frame-parent330 {
  position: absolute;
  top: 401px;
  left: 0;
  width: 1120px;
  height: 67px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 12px;
  box-sizing: border-box;
}
.frame-parent332 {
  top: 468px;
}
.frame-parent332,
.frame-parent334,
.frame-parent336,
.frame-parent338,
.frame-parent340 {
  position: absolute;
  left: 0;
  width: 1120px;
  height: 67px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 12px;
  box-sizing: border-box;
}
.frame-parent334 {
  top: 535px;
  justify-content: flex-end;
  text-align: left;
}
.frame-parent336,
.frame-parent338,
.frame-parent340 {
  top: 602px;
  background-color: #f5f5fa;
  justify-content: flex-start;
}
.frame-parent338,
.frame-parent340 {
  top: 669px;
}
.frame-parent340 {
  top: 736px;
}
.frame-child491 {
  position: relative;
  width: 1120px;
  height: 4px;
}
.line-parent {
  position: absolute;
  top: 873px;
  left: -12px;
  background-color: #f5f5fa;
  width: 1120px;
  height: 7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 12px;
  box-sizing: border-box;
}
.frame-parent7 {
  position: absolute;
  top: 176px;
  left: 284px;
  background-color: #fff;
  width: 1122px;
  height: 3225px;
  overflow: hidden;
  text-align: center;
  color: #000;
}
.trang-nh-gi-im-rn-luyn {
  position: relative;
  background-color: #f5f5fa;
  width: 100%;
  height: 3696px;
  mix-blend-mode: normal;
  text-align: left;
  font-size: 16px;
  color: #fff;
  font-family: Roboto;
}
