.image-56-icon {
  position: absolute;
  top: 53px;
  left: 887px;
  width: 407px;
  height: 195px;
  object-fit: cover;
}
.thng-tin-lin {
  position: relative;
  font-weight: 500;
}
.location-on-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.location-on-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  text-align: justify;
}
.daihocsaigonsgueduvn {
  color: inherit;
}
.email-daihocsaigonsgueduvn {
  flex: 1;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 150%;
}
.email-parent {
  color: inherit;
}
.email-parent,
.language-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.frame-parent,
.thng-tin-lin-h-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent {
  align-self: stretch;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}
.thng-tin-lin-h-parent {
  position: absolute;
  top: 62px;
  left: 101px;
  width: 682px;
  height: 172px;
  align-items: flex-start;
  gap: 16px;
}
.foodter {
  position: absolute;
  top: 1136px;
  left: 0;
  background-color: #083751;
  width: 1440px;
  height: 295px;
  overflow: hidden;
}
.frame-wrapper,
.trng-i-hc,
.trng-i-hc1 {
  position: absolute;
  display: flex;
  align-items: center;
}
.frame-wrapper {
  right: 0;
  bottom: 43px;
  flex-direction: row;
  justify-content: center;
}
.trng-i-hc,
.trng-i-hc1 {
  top: 29px;
  left: 10px;
  letter-spacing: 0.01em;
  line-height: 158%;
  width: 400px;
  height: 31px;
}
.trng-i-hc1 {
  top: 57px;
  left: 13px;
  font-size: 17px;
  height: 24px;
}
.frame-group,
.trng-i-hc-si-gn-parent {
  position: absolute;
  top: 27px;
  left: 125px;
  width: 452px;
  height: 81px;
  overflow: hidden;
}
.frame-group {
  top: 0;
  left: 129px;
  width: 1139px;
  height: 148px;
}
.image-55-icon {
  position: absolute;
  top: 6px;
  left: 8px;
  width: 130px;
  height: 130px;
  object-fit: cover;
}
.header,
.image-55-wrapper {
  position: absolute;
  top: 12px;
  left: 116px;
  width: 1180px;
  height: 136px;
  overflow: hidden;
}
.header {
  top: 0;
  left: 0;
  background-color: #083751;
  width: 1440px;
  height: 160px;
  font-size: 23px;
  font-family: Poppins;
}
.frame-child {
  position: relative;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.admin-minh-thc {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 150%;
  font-weight: 600;
}
.admin-minh-thc-wrapper {
  width: 137px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.rectangle-parent {
  align-self: stretch;
  background-color: #083751;
  border-bottom: 0.5px solid #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  gap: 8px;
  font-family: Inter;
}
.danh-sch-ng {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.danh-sch-ng-vin-wrapper {
  flex: 1;
  align-items: center;
}
.danh-sch-ng-vin-wrapper,
.frame-div,
.instance-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-div {
  flex: 1;
  background-color: #083751;
  align-items: center;
  padding: 12px 16px;
  gap: 12px;
}
.instance-wrapper {
  align-self: stretch;
  align-items: flex-start;
  font-size: 16px;
}
.danh-sch-ng1 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.expand-more-icon1 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.frame-parent1 {
  flex: 1;
  background-color: rgba(185, 185, 185, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 16px 12px 32px;
  gap: 12px;
}
.instance-container {
  align-self: stretch;
  background-color: #083751;
  align-items: flex-start;
}
.frame-parent2,
.instance-container,
.instance-frame {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent2 {
  flex: 1;
  background-color: #083751;
  align-items: center;
  padding: 12px 16px 12px 32px;
  gap: 12px;
}
.instance-frame {
  align-self: stretch;
  align-items: flex-start;
}
.frame-container,
.trang-danh-sch-ngi-dng-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-container {
  width: 269px;
}
.trang-danh-sch-ngi-dng-inner {
  position: absolute;
  top: 176px;
  left: 0;
  background-color: #083751;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 944px;
  font-size: 14px;
}
.quynquyn-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.frame-wrapper2 {
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #000;
  justify-content: center;
  padding: 4px 16px;
}
.frame-parent12,
.frame-wrapper2,
.p-dng-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.p-dng-wrapper {
  border-radius: 4px;
  background-color: #083751;
  border: 1px solid #083751;
  box-sizing: border-box;
  height: 32px;
  justify-content: center;
  padding: 8px 16px;
  color: #fff;
}
.frame-parent12 {
  justify-content: flex-start;
  gap: 8px;
}
.tm-theo-m {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 130px;
  flex-shrink: 0;
}
.tm-theo-m-s-parent {
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  gap: 8px;
}
.tm-kim-theo {
  position: relative;
  line-height: 150%;
  display: inline-block;
  width: 144px;
  flex-shrink: 0;
}
.tm-kim-theo-tn-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px;
}
.search-icon {
  position: relative;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.search-wrapper {
  border-radius: 2px;
  background-color: #083751;
  width: 56px;
  flex-direction: row;
  justify-content: center;
}
.frame-parent14,
.search-wrapper,
.tng-3 {
  display: flex;
  align-items: center;
}
.frame-parent14 {
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #083751;
  box-sizing: border-box;
  width: 252px;
  height: 32px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 4px;
  gap: 24px;
  font-size: 14px;
  color: #a6a6b0;
}
.tng-3 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 150%;
  color: #000;
  text-align: right;
  width: 306px;
  flex-shrink: 0;
}
.frame-parent13 {
  align-items: flex-start;
  gap: 8px;
}
.frame-parent11,
.frame-parent13,
.frame-wrapper1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent11 {
  flex: 1;
  align-items: center;
  gap: 32px;
}
.frame-wrapper1 {
  position: absolute;
  top: 22px;
  left: 12px;
  width: 1110px;
  align-items: flex-start;
}
.frame-item {
  position: absolute;
  top: 53px;
  left: 21px;
}
.email,
.h-v-tn,
.quyn,
.ti-khon,
.trng-thi {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 150%;
  display: inline-block;
  width: 254px;
  flex-shrink: 0;
}
.email,
.h-v-tn,
.quyn,
.trng-thi {
  width: 255px;
}
.email,
.quyn,
.trng-thi {
  width: 287px;
}
.quyn,
.trng-thi {
  width: 171px;
}
.trng-thi {
  width: 128px;
}
.div,
.ti-khon-parent {
  /* position: absolute; */
  display: flex;
}
.ti-khon-parent {
  top: 0;
  left: 0;
  width: 1142px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 8px 12px;
  box-sizing: border-box;
}
.div {
  top: 21px;
  left: 58px;
  letter-spacing: 0.01em;
  line-height: 150%;
  align-items: center;
  width: 163px;
  height: 18px;
}
.frame-inner {
  position: absolute;
  top: 15px;
  left: 0;
  border-radius: 113.49px;
  width: 48px;
  height: 48px;
  overflow: hidden;
  object-fit: cover;
}
.chnh-sa {
  line-height: 150%;
}
.chnh-sa,
.line-div,
.xa {
  position: relative;
}
.line-div {
  align-self: stretch;
  border-right: 1px solid #000;
  box-sizing: border-box;
  width: 1px;
}
.xa {
  line-height: 150%;
  color: #d13618;
}
.chnh-sa-parent {
  position: absolute;
  top: 42px;
  left: 58px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  font-size: 14px;
}
.parent,
.trn-minh-thc {
  position: relative;
  flex-shrink: 0;
}
.parent {
  width: 255px;
  height: 78px;
  overflow: hidden;
}
.trn-minh-thc {
  align-self: stretch;
  letter-spacing: 0.01em;
  line-height: 150%;
  display: flex;
  align-items: center;
  width: 258px;
}
.tranminhthugmailcom {
  width: 292px;
}
.adminadmin,
.hot-ng,
.tranminhthugmailcom {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 150%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.adminadmin {
  color: #fe0000;
  width: 167px;
}
.hot-ng {
  width: 160px;
}
.frame-parent16 {
  top: 61px;
  background-color: #f5f5fa;
}
.frame-parent16,
.frame-parent17,
.frame-parent18 {
  position: absolute;
  left: 0;
  width: 1119px;
  height: 94px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 12px;
  box-sizing: border-box;
}
.frame-parent17 {
  top: 272px;
  background-color: #f5f5fa;
}
.frame-parent18 {
  top: 168px;
}
.frame-parent10,
.frame-parent15 {
  position: absolute;
  background-color: #fff;
  overflow: hidden;
}
.frame-parent15 {
  top: 79px;
  left: 0;
  border-radius: 5px;
  width: 1142px;
  height: 865px;
  color: #000;
}
.frame-parent10 {
  top: 176px;
  left: 295px;
  width: 1122px;
  height: 944px;
  font-size: 16px;
  color: #241f1f;
}
.trang-danh-sch-ngi-dng {
  position: relative;
  background-color: #f5f5fa;
  width: 100%;
  height: 1431px;
  mix-blend-mode: normal;
  text-align: left;
  font-size: 20px;
  color: #fff;
  font-family: Roboto;
}
