<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./css/history.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="trang-nh-gi-im-rn-luyn">
      <div class="foodter">
        <img class="image-56-icon" alt="" src="./public/image-56@2x.png" />

        <div class="thng-tin-lin-h-parent">
          <div class="thng-tin-lin">Thông tin liên hệ</div>
          <div class="frame-parent">
            <div class="location-on-parent">
              <img
                class="location-on-icon"
                alt=""
                src="./public/location-on.svg"
              />

              <div class="email-daihocsaigonsgueduvn">
                Địa chỉ: 273 Đ. An D. Vương, Phường 3, Quận 5, Thành phố Hồ Chí
                Minh 700000, Việt Nam
              </div>
            </div>
            <div class="email-parent">
              <img class="location-on-icon" alt="" src="./public/email.svg" />

              <div class="email-daihocsaigonsgueduvn">
                <a
                  class="daihocsaigonsgueduvn"
                  href="mailto:daihocsaigon@sgu.edu.vn"
                  target="_blank"
                  >daihocsaigon@sgu.edu.vn</a
                >
              </div>
            </div>
            <div class="language-parent">
              <img
                class="location-on-icon"
                alt=""
                src="./public/language.svg"
              />

              <div class="email-daihocsaigonsgueduvn">
                Website: https://www.sgu.edu.vn/
              </div>
            </div>
            <div class="language-parent">
              <img class="location-on-icon" alt="" src="./public/phone.svg" />

              <div class="email-daihocsaigonsgueduvn">
                Hotline: (84-28) 38.354409 - 38.352309
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="body">
        <div class="frame-group">
          <div class="frame-wrapper">
            <div class="tn-v-mssv-parent">
              <div class="tn-v-mssv">Tên và MSSV</div>
              <div class="im-s">Điểm số</div>
              <div class="im-s">Trạng thái</div>
              <div class="im-s">Trạng thái chấm</div>
              <div class="im-s">Thời gian</div>
            </div>
          </div>
          <div class="frame-container">
            <div class="parent">
              <div class="div">3112541252</div>
              <div class="trn-minh-thc">Trần Minh Thức</div>
              <div class="nh-gi-wrapper">
                <div class="nh-gi">Đánh giá</div>
              </div>
            </div>
            <div class="cha-nh-gi">0</div>
            <div class="cha-nh-gi">Chưa đánh giá</div>
            <div class="cha-chm">Chưa chấm</div>
            <div class="chnh-sa-ln-container">
              <span class="chnh-sa-ln-container1">
                <p class="chnh-sa-ln">Chỉnh sửa lần cuối</p>
                <p class="chnh-sa-ln">11/01/2022</p>
              </span>
            </div>
          </div>
          <div class="frame-div">
            <div class="parent">
              <div class="div">3112541252</div>
              <div class="trn-minh-thc">Trần Minh Thức</div>
              <div class="nh-gi-wrapper">
                <div class="nh-gi">Đánh giá</div>
              </div>
            </div>
            <div class="cha-nh-gi">0</div>
            <div class="cha-nh-gi">Chưa đánh giá</div>
            <div class="cha-chm">Chưa chấm</div>
            <div class="chnh-sa-ln-container">
              <span class="chnh-sa-ln-container1">
                <p class="chnh-sa-ln">Chỉnh sửa lần cuối</p>
                <p class="chnh-sa-ln">11/01/2022</p>
              </span>
            </div>
          </div>
          <div class="frame-parent1">
            <div class="parent">
              <div class="div">3112541252</div>
              <div class="trn-minh-thc">Trần Minh Thức</div>
              <div class="nh-gi-wrapper">
                <div class="nh-gi">Đánh giá</div>
              </div>
            </div>
            <div class="cha-nh-gi">0</div>
            <div class="cha-nh-gi">Chưa đánh giá</div>
            <div class="cha-chm">Chưa chấm</div>
            <div class="chnh-sa-ln-container">
              <span class="chnh-sa-ln-container1">
                <p class="chnh-sa-ln">Chỉnh sửa lần cuối</p>
                <p class="chnh-sa-ln">11/01/2022</p>
              </span>
            </div>
          </div>
          <div class="frame-parent2">
            <div class="parent">
              <div class="div">3112541252</div>
              <div class="trn-minh-thc">Trần Minh Thức</div>
              <div class="nh-gi-wrapper">
                <div class="nh-gi">Đánh giá</div>
              </div>
            </div>
            <div class="cha-nh-gi">0</div>
            <div class="cha-nh-gi">Chưa đánh giá</div>
            <div class="cha-chm">Chưa chấm</div>
            <div class="chnh-sa-ln-container">
              <span class="chnh-sa-ln-container1">
                <p class="chnh-sa-ln">Chỉnh sửa lần cuối</p>
                <p class="chnh-sa-ln">11/01/2022</p>
              </span>
            </div>
          </div>
          <div class="frame-parent3">
            <div class="parent">
              <div class="div">3112541252</div>
              <div class="trn-minh-thc">Trần Minh Thức</div>
              <div class="nh-gi-wrapper">
                <div class="nh-gi">Đánh giá</div>
              </div>
            </div>
            <div class="cha-nh-gi">0</div>
            <div class="cha-nh-gi">Chưa đánh giá</div>
            <div class="cha-chm">Chưa chấm</div>
            <div class="chnh-sa-ln-container">
              <span class="chnh-sa-ln-container1">
                <p class="chnh-sa-ln">Chỉnh sửa lần cuối</p>
                <p class="chnh-sa-ln">11/01/2022</p>
              </span>
            </div>
          </div>
          <div class="frame-parent4">
            <div class="parent">
              <div class="div">3112541252</div>
              <div class="trn-minh-thc">Trần Minh Thức</div>
              <div class="nh-gi-wrapper">
                <div class="nh-gi">Đánh giá</div>
              </div>
            </div>
            <div class="cha-nh-gi">0</div>
            <div class="cha-nh-gi">Chưa đánh giá</div>
            <div class="cha-chm">Chưa chấm</div>
            <div class="chnh-sa-ln-container">
              <span class="chnh-sa-ln-container1">
                <p class="chnh-sa-ln">Chỉnh sửa lần cuối</p>
                <p class="chnh-sa-ln">11/01/2022</p>
              </span>
            </div>
          </div>
          <div class="frame-parent5">
            <div class="parent">
              <div class="div">3112541252</div>
              <div class="trn-minh-thc">Trần Minh Thức</div>
              <div class="nh-gi-wrapper">
                <div class="nh-gi">Đánh giá</div>
              </div>
            </div>
            <div class="cha-nh-gi">0</div>
            <div class="cha-nh-gi">Chưa đánh giá</div>
            <div class="cha-chm">Chưa chấm</div>
            <div class="chnh-sa-ln-container">
              <span class="chnh-sa-ln-container1">
                <p class="chnh-sa-ln">Chỉnh sửa lần cuối</p>
                <p class="chnh-sa-ln">11/01/2022</p>
              </span>
            </div>
          </div>
          <div class="frame-parent6">
            <div class="parent">
              <div class="div">3112541252</div>
              <div class="trn-minh-thc">Trần Minh Thức</div>
              <div class="nh-gi-wrapper">
                <div class="nh-gi">Đánh giá</div>
              </div>
            </div>
            <div class="cha-nh-gi">0</div>
            <div class="cha-nh-gi">Chưa đánh giá</div>
            <div class="cha-chm">Chưa chấm</div>
            <div class="chnh-sa-ln-container">
              <span class="chnh-sa-ln-container1">
                <p class="chnh-sa-ln">Chỉnh sửa lần cuối</p>
                <p class="chnh-sa-ln">11/01/2022</p>
              </span>
            </div>
          </div>
          <div class="frame-parent7">
            <div class="parent">
              <div class="div">3112541252</div>
              <div class="trn-minh-thc">Trần Minh Thức</div>
              <div class="nh-gi-wrapper">
                <div class="nh-gi">Đánh giá</div>
              </div>
            </div>
            <div class="cha-nh-gi">0</div>
            <div class="cha-nh-gi">Chưa đánh giá</div>
            <div class="cha-chm">Chưa chấm</div>
            <div class="chnh-sa-ln-container">
              <span class="chnh-sa-ln-container1">
                <p class="chnh-sa-ln">Chỉnh sửa lần cuối</p>
                <p class="chnh-sa-ln">11/01/2022</p>
              </span>
            </div>
          </div>
          <div class="frame-parent8">
            <div class="parent">
              <div class="div">3112541252</div>
              <div class="trn-minh-thc">Trần Minh Thức</div>
              <div class="nh-gi-wrapper">
                <div class="nh-gi">Đánh giá</div>
              </div>
            </div>
            <div class="cha-nh-gi">0</div>
            <div class="cha-nh-gi">Chưa đánh giá</div>
            <div class="cha-chm">Chưa chấm</div>
            <div class="chnh-sa-ln-container">
              <span class="chnh-sa-ln-container1">
                <p class="chnh-sa-ln">Chỉnh sửa lần cuối</p>
                <p class="chnh-sa-ln">11/01/2022</p>
              </span>
            </div>
          </div>
          <div class="keyboard-double-arrow-rightou-parent">
            <img
              class="location-on-icon"
              alt=""
              src="./public/keyboard-double-arrow-rightoutlined.svg"
            />

            <div class="wrapper">
              <div class="thng-tin-lin">1</div>
            </div>
            <div class="frame">
              <div class="thng-tin-lin">2</div>
            </div>
            <div class="frame">
              <div class="thng-tin-lin">...</div>
            </div>
            <div class="frame">
              <div class="thng-tin-lin">15</div>
            </div>
            <img
              class="location-on-icon"
              alt=""
              src="./public/keyboard-double-arrow-rightoutlined1.svg"
            />
          </div>
        </div>
        <div class="body-inner">
          <div class="frame-parent9">
            <div class="frame-parent10">
              <div class="frame-parent11">
                <div class="tt-c-tiu-ch-parent">
                  <div class="thng-tin-lin">Tất cả tiêu chí</div>
                  <img
                    class="location-on-icon"
                    alt=""
                    src="./public/keyboard-arrow-down.svg"
                  />
                </div>
                <div class="p-dng-wrapper">
                  <div class="thng-tin-lin">Áp dụng</div>
                </div>
              </div>
              <div class="frame-parent12">
                <div class="tt-c-tiu-ch-parent">
                  <div class="thng-tin-lin">Tất cả các ngày</div>
                  <img
                    class="location-on-icon"
                    alt=""
                    src="./public/keyboard-arrow-down1.svg"
                  />
                </div>
                <div class="tt-c-tiu-ch-parent">
                  <div class="thng-tin-lin">Tất cả tiêu chí</div>
                  <img
                    class="location-on-icon"
                    alt=""
                    src="./public/keyboard-arrow-down2.svg"
                  />
                </div>
                <div class="lc-wrapper">
                  <div class="thng-tin-lin">Lọc</div>
                </div>
              </div>
            </div>
            <div class="frame-parent13">
              <div class="tm-kim-theo-tn-wrapper">
                <div class="tm-kim-theo">Tìm kiếm theo tên</div>
              </div>
              <div class="search-wrapper">
                <img class="search-icon" alt="" src="./public/search.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header">
        <div class="header-inner">
          <div class="frame-parent14">
            <div class="trang-ch-wrapper">
              <div class="trang-ch">Trang chủ</div>
            </div>
            <div class="trang-ch-wrapper">
              <div class="trang-ch">Đánh giá điểm rèn luyện</div>
            </div>
            <div class="trang-ch-wrapper">
              <div class="trang-ch">Lịch sử đánh giá</div>
            </div>
          </div>
        </div>
        <div class="frame-parent15">
          <div class="frame-wrapper1">
            <div class="frame-parent16">
              <div class="icoutline-contact-support-parent">
                <img
                  class="location-on-icon"
                  alt=""
                  src="./public/icoutlinecontactsupport.svg"
                />

                <div class="trang-ch">Hỗ trợ</div>
              </div>
              <div class="icoutline-contact-support-parent">
                <img
                  class="location-on-icon"
                  alt=""
                  src="./public/bytesizebell.svg"
                />

                <div class="thng-bo-wrapper">
                  <div class="trang-ch">Thông báo</div>
                </div>
              </div>
              <div class="icoutline-contact-support-parent">
                <img
                  class="location-on-icon"
                  alt=""
                  src="./public/antdesignuseroutlined.svg"
                />

                <div class="trang-ch">Tài khoản</div>
              </div>
            </div>
          </div>
          <div class="trng-i-hc-si-gn-parent">
            <b class="trng-i-hc">TRƯỜNG ĐẠI HỌC SÀI GÒN</b>
            <b class="trng-i-hc1">SINCE 2007</b>
          </div>
        </div>
        <div class="image-55-wrapper">
          <img class="image-55-icon" alt="" src="./public/image-55@2x.png" />
        </div>
      </div>
    </div>
  </body>
</html>
